<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Contato</h1>
          <p class="text-center lead">Crie ou edite seu contato abaixo.</p>

          <%- include('includes/messages'); %>

            <form method="POST" action="/contato/register" class="my-3">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="form-group">
                <label>Nome</label>
                <input value="<%= contato.nome %>" type="text" class="form-control" name="nome">
              </div>
              <div class="form-group">
                <label>Sobrenome</label>
                <input value="<%= contato.sobrenome %>" type="text" class="form-control" name="sobrenome">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input value="<%= contato.email %>" type="text" class="form-control" name="email">
              </div>
              <div class="form-group">
                <label>Telefone</label>
                <input value="<%= contato.telefone %>" type="text" class="form-control" name="telefone">
              </div><br>
              <button type="submit" class="form-control btn btn-primary">Salvar</button>
            </form>

        </div>

        <div class="col-md-2"></div>

      </div>
    </div>
    <%- include('includes/footer'); %>