<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Bem vindo, <%= user.email %></h1>
          <p class="text-center lead">Para criar outra conta é preciso fazer logout(sair).</p>

          <%- include('includes/messages'); %>

          
        </div>

        <div class="col-md-2"></div>

      </div>
    </div>
    <%- include('includes/footer'); %>